*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
    /*background-color: #FCF1F1;*/
    font-family: "montserrat";
}

.title{
    margin: 10px auto;
    text-align: center;
    font-size: 1.2em;
    color: #FF7315;
}

.icon-container{
    margin: 25px 0;
    display: flex;
    justify-content: center;
}

.icon-1{
    width: 150px;
    height: 150px;
    background-color: #082032;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 0px 0px 50px 10px #FF7315; 
    box-shadow: 0px 0px 50px 10px #FF7315;
}

.icon-2{
    width: 125px;
    height: 125px;
    background-color: #FF7315;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
}

.icon-2 a{
    text-decoration: none;
    
}

.calendar{
    margin: 20px 15px;
  
}

.calendar details{
    margin: 15px 0;
    
}

.calendar summary{
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
}

.calendar p{
    font-size: 1em;
}












.container{
    margin: 20px 10px;
    width: 100%;
    display: contents;
}

.container-title{
    text-align: center;
    font-size: 1.5em;
    color: #FF7315;
}

.content{
    margin: 10px 20px;
    text-align: center;

}

.content h4{
    margin: 5px 0;
    font-size: 1.2em;
    color: #082032;
    letter-spacing: 2px;
    text-align: center;
}

.content p{
    margin-bottom: 20px;
    font-size: 1em;
    color: #082032;
}

.footer-message{
    margin: 30px 20px;
    font-size: 1em;
    color: #082032;

}

.footer-message p{
    margin: 20px 0;
    text-align: justify;
    font-size: 1em;
}

.footer-message h5{
    font-size: 1em;
}

@media only screen and (min-width: 1200px) {
    body {
        margin: auto;
        max-width: 1200px;
    }
   
}
