*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    font-family: "montserrat";
}

.title{
    margin: 20px auto;
    width: 80%;
    text-align: center;
    font-size: 1.2em;
    color: #FF7315;
}

.title img{
    margin-top: 20px;
    width: 20%;
    max-width: 150px;
   
}

.title h1{
    margin-top: 20px;
}

.icon-container{
    text-align: center;
}

.icon-container img{
    width: 20%;
    cursor: pointer;
}

.calendar{
    margin: 0 auto;
    width: 80%;
    min-width: 340px;

    
}

.calendar details{
    margin: 0 auto;

}

.calendar summary{
    margin-top: 10px;
    color: #FF7315;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;

}

.calendar p{
    font-size: 1em;

}

.calendar li{
    margin: 5px;
}










.container{
    margin: 20px 10px;
    width: 100%;
    display: contents;
}

.container-title{
    text-align: center;
    font-size: 1.5em;
    color: #FF7315;
}

.content{
    margin: 10px 20px;
    text-align: center;

}

.content h4{
    margin: 5px 0;
    font-size: 1.2em;
    color: #082032;
    letter-spacing: 2px;
    text-align: center;
}

.content p{
    margin-bottom: 20px;
    font-size: 1em;
    color: #082032;
}

.footer-message{
    margin: 30px 20px;
    font-size: 1em;
    color: #082032;

}

.footer-message p{
    margin: 20px 0;
    text-align: justify;
    font-size: 1em;
}

.footer-message h5{
    font-size: 1em;
}

@media only screen and (min-width: 1200px) {
    body {
        margin: auto;
        max-width: 1200px;
    }
   
}
